@model YourNamespace.FormData

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>

    <div>
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)
    </div>

    <div>
        @Html.LabelFor(model => model.Comment)
        @Html.TextAreaFor(model => model.Comment)
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
}