@model Dish

<h2>@Model.Name</h2>
<h4>@Model.Chef</h4>
<p>@Model.Description</p>
<a asp-action="Edit" asp-route-itemId="@Model.DishId">Edit</a>
<a asp-action="Delete" asp-route-itemId="@Model.DishId">Delete</a>